# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
np.random.seed(101)

In [18]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='Q W R T'.split())
df.head()

          Q         W         R         T
A  0.783316 -0.708954  0.586847 -1.621348
B  0.677535  0.026105 -1.678284  0.333973
C -0.532471  2.117727  0.197524  2.302987
D  0.729024 -0.863091  0.305632  0.243178
E  0.864165 -1.560931 -0.251897 -0.578120

#### select a column

In [19]:
df['W']

A   -0.708954
B    0.026105
C    2.117727
D   -0.863091
E   -1.560931
Name: W, dtype: float64

#### select a set of columns

In [20]:
df[['Q', 'T']]

          Q         T
A  0.783316 -1.621348
B  0.677535  0.333973
C -0.532471  2.302987
D  0.729024  0.243178
E  0.864165 -0.578120

#### add a new column

In [28]:
df['new'] = df['Q'] + df['W']
df.head()

          Q         W         R         T       new
A  0.783316 -0.708954  0.586847 -1.621348  0.074362
B  0.677535  0.026105 -1.678284  0.333973  0.703641
C -0.532471  2.117727  0.197524  2.302987  1.585257
D  0.729024 -0.863091  0.305632  0.243178 -0.134068
E  0.864165 -1.560931 -0.251897 -0.578120 -0.696767

#### remove a column

In [55]:
# @param axis    => 0 for row; 1 for col
# @param inplace => if True the change to the data frame is permanent otherwise it is applied only inside the cell

df.drop('new', axis=1, inplace=False)

          Q         W         R         T States
A  0.783316 -0.708954  0.586847 -1.621348     CA
B  0.677535  0.026105 -1.678284  0.333973     NY
C -0.532471  2.117727  0.197524  2.302987     WY
D  0.729024 -0.863091  0.305632  0.243178     OR
E  0.864165 -1.560931 -0.251897 -0.578120     CO

In [34]:
df.head()

          Q         W         R         T       new
A  0.783316 -0.708954  0.586847 -1.621348  0.074362
B  0.677535  0.026105 -1.678284  0.333973  0.703641
C -0.532471  2.117727  0.197524  2.302987  1.585257
D  0.729024 -0.863091  0.305632  0.243178 -0.134068
E  0.864165 -1.560931 -0.251897 -0.578120 -0.696767

#### select row

In [36]:
df.loc['A']

Q      0.783316
W     -0.708954
R      0.586847
T     -1.621348
new    0.074362
Name: A, dtype: float64

#### select row by index

In [37]:
df.iloc[0]

Q      0.783316
W     -0.708954
R      0.586847
T     -1.621348
new    0.074362
Name: A, dtype: float64

#### select a single item

In [38]:
df.loc['A', 'W']

-0.70895373767859216

#### subsample a table

In [39]:
df.loc[['A','B'], ['Q','T']]

          Q         T
A  0.783316 -1.621348
B  0.677535  0.333973

## Conditional selection

In [40]:
df>0

       Q      W      R      T    new
A   True  False   True  False   True
B   True   True  False   True   True
C  False   True   True   True   True
D   True  False   True   True  False
E   True  False  False  False  False

In [43]:
# it will show "NaN" when the item does not overcome the condition
cond = df>0
df[cond]

          Q         W         R         T       new
A  0.783316       NaN  0.586847       NaN  0.074362
B  0.677535  0.026105       NaN  0.333973  0.703641
C       NaN  2.117727  0.197524  2.302987  1.585257
D  0.729024       NaN  0.305632  0.243178       NaN
E  0.864165       NaN       NaN       NaN       NaN

In [44]:
df[df['W']>0]

          Q         W         R         T       new
B  0.677535  0.026105 -1.678284  0.333973  0.703641
C -0.532471  2.117727  0.197524  2.302987  1.585257

In [46]:
df[df['W']>0]['R']

B   -1.678284
C    0.197524
Name: R, dtype: float64

#### multiple conditions

In [49]:
df[(df['W']>0) & (df['new'] > 1)]

          Q         W         R         T       new
C -0.532471  2.117727  0.197524  2.302987  1.585257

## Playing with indexes

In [51]:
df.reset_index()

  index         Q         W         R         T       new
0     A  0.783316 -0.708954  0.586847 -1.621348  0.074362
1     B  0.677535  0.026105 -1.678284  0.333973  0.703641
2     C -0.532471  2.117727  0.197524  2.302987  1.585257
3     D  0.729024 -0.863091  0.305632  0.243178 -0.134068
4     E  0.864165 -1.560931 -0.251897 -0.578120 -0.696767

#### create new index column

In [52]:
# create a list 
new_indexes = 'CA NY WY OR CO'.split()

In [54]:
# create a new column
df['States'] = new_indexes
df

          Q         W         R         T       new States
A  0.783316 -0.708954  0.586847 -1.621348  0.074362     CA
B  0.677535  0.026105 -1.678284  0.333973  0.703641     NY
C -0.532471  2.117727  0.197524  2.302987  1.585257     WY
D  0.729024 -0.863091  0.305632  0.243178 -0.134068     OR
E  0.864165 -1.560931 -0.251897 -0.578120 -0.696767     CO

In [57]:
# @param inplace => if True the change to the data frame is permanent otherwise it is applied only inside the cell

df.set_index('States', inplace=False)

               Q         W         R         T       new
States
CA      0.783316 -0.708954  0.586847 -1.621348  0.074362
NY      0.677535  0.026105 -1.678284  0.333973  0.703641
WY     -0.532471  2.117727  0.197524  2.302987  1.585257
OR      0.729024 -0.863091  0.305632  0.243178 -0.134068
CO      0.864165 -1.560931 -0.251897 -0.578120 -0.696767

## Multi-Index and Index Hierarchy

In [64]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [65]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.097693 -1.908009
   2 -0.380104 -1.666059
   3 -2.736995  1.522562
G2 1  0.178009 -0.626805
   2 -0.391089  1.743477
   3  1.130018  0.897796

#### select row from index name

In [68]:
df.loc['G1'].loc[1]

A   -1.097693
B   -1.908009
Name: 1, dtype: float64

####Â select row from index position

In [71]:
df.loc['G1'].iloc[1]

A   -0.380104
B   -1.666059
Name: 2, dtype: float64

In [72]:
df.index.names

FrozenList([None, None])

In [73]:
df.index.names = ['Group','Num']

In [74]:
df

                  A         B
Group Num
G1    1   -1.097693 -1.908009
      2   -0.380104 -1.666059
      3   -2.736995  1.522562
G2    1    0.178009 -0.626805
      2   -0.391089  1.743477
      3    1.130018  0.897796

In [75]:
# select the subtable at a specific external index

df.xs('G1')

            A         B
Num
1   -1.097693 -1.908009
2   -0.380104 -1.666059
3   -2.736995  1.522562

In [77]:
# select the row at a specific external and internal indexes

df.xs(['G1',1])

A   -1.097693
B   -1.908009
Name: (G1, 1), dtype: float64

In [78]:
# subtable with a specific index from the inner indexs

df.xs(1,level='Num')

              A         B
Group
G1    -1.097693 -1.908009
G2     0.178009 -0.626805